* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*varaiveis*/
  --bg-color: #edf2ff;
  --text-color: #080808;
}

body {
  background-image: url("../img/966797.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

.bg-image {
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 300px;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  background: -webkit-linear-gradient(left top, #c001fa 0%, #00d9ff 100%);
}

h1 {
  font-size: 32px;
  margin: 24px;
  margin-bottom: 8px;
  display: block;
  color: white;
}

p {
  color: white;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #020103;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 3px solid;
  border-image: linear-gradient(225deg, #c001fa 0%, #00d9ff 100%) 1;
  padding: 5px;
  cursor: pointer;
}

/*pseudo class */
ul li a:hover {
  background: linear-gradient(
    225deg,
    rgba(0, 140, 165, 0.88) 0%,
    rgba(136, 0, 162, 0.81) 100%
  );
  border-image: linear-gradient(to right, #c001fa 0%, #00d9ff 100%) 1;
  transition: 1s all;
}

footer {
  font-weight: 500;
  font-size: 12px;
  color: white;
}

footer a {
  color: white;
  text-decoration: underline;
}